<div class="wrapper style1 first">
  <article class="container" id="top">
    <div class="row">
      <div class="4u 12u(mobile)">
        <span class="image fit"><img src="/images/profile.jpg" alt="" /></span>
      </div>
      <div class="8u 12u(mobile)">
        <header>
          <h1>Hi. I'm <strong>Abhi Hebbar</strong>.</h1>
        </header>
        <p>
            I <span class="tooltip" title="Engineer(verb): design and build (a machine or structure), skilfully arrange for (something) to occur.">engineer</span> <strong>software</strong>.
            I <a href="/prototyping">prototype</a> complex ideas.
            And I love learning &amp; and experimenting on <a href="/something-new">something new</a>.
            
        </p>
        <a href="#work" class="button big scrolly">Learn about what I do</a>
      </div>
    </div>
  </article>
</div>