<div class="wrapper style2">
  <article id="work">
    <header>
      <h2>Here's all the stuff I do.</h2>
      <p>I am co-founder &amp; director of innovation at <a href="http://www.openly.co">Openly</a>.
    </header>
    <div class="container">
      <div class="row">
        <div class="4u 12u(mobile)">
          <section class="box style1">
            <span class="icon featured fa-flask"></span>
            <h3>Experiment</h3>
            <p>I learn and experiment with advanced engineering concepts for fun. Currently experimenting with <a href="/ai">AI</a>, <a href="/block-chain">Block Chain</a>, and <a href="/rapid-development">Rapid development</a>.</p>
          </section>
        </div>
        <div class="4u 12u(mobile)">
          <section class="box style1">
            <span class="icon featured fa-send-o"></span>
            <h3>Prototype</h3>
            <p>I <a href="/prototyping">prototype</a> complex ideas. Prototyping helps visualize, validate and clarify ideas. It allows to create a clear vision &amp; roadmap from a basic idea.</p>
          </section>
        </div>
        <div class="4u 12u(mobile)">
          <section class="box style1">
            <span class="icon featured fa-cogs"></span>
            <h3>Engineer</h3>
            <p>I work on <a href="/dev-tools">tools</a> and <a href="/dev-processes">processes</a> that enable development of great software. I build tools to simplify development and improve software quality.</p>
          </section>
        </div>
      </div>
    </div>
  </article>
</div>