<article class="post">
  <section class="box style1">
    <header>
      <h1><%- page.title %></h1>
    </header>
    <div>
      <%- page.content %>
    </div>
  </section>
  <% if (page.related_category){ %>
  <section id="related-posts" class="box style1">
    <h3>Related posts</h3>
    
  </section>
  <% } %>
  </div>
</article>